@model WebApplication2.Models.EmployeeCredential

@{
    ViewBag.Title = "Login";
}
<div align="center">
    <img style="" class="mb-4 animate__animated animate__zoomIn img" src="~/Content/logo (1).png" alt="" width="200" height="80">
</div>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div align="center" style="direction:ltr;margin:0px auto;" class="form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="inputEmail" class="col-sm-1 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @id = "inputEmail", @placeholder = "Email", @type = "Email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label for="inputpass" class="col-sm-1 control-label"></label>
            <div class="col-md-10">

                @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "form-control", @id = "inputpass", @placeholder = "Password", @type = "password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input style=" width: 100%; background-color: #0274b4; color: #fff;" type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}


