@model WebApplication2.Models.Employee

    @{ViewBag.Title = "تأكيد المسح؟"; }


<h3>هل أنت متأكد أنك تريد المسح؟</h3>
<div>
    <hr />
    <div class="data_labels">
        @Html.LabelFor(model => model.Name)

        <h5>
            @Html.DisplayFor(model => model.Name)
        </h5>


        @Html.LabelFor(model => model.PHD)

        <h5>
            @Html.DisplayFor(model => model.PHD)
        </h5>

        @Html.LabelFor(model => model.AcadmicNumber)

        <h5>
            @Html.DisplayFor(model => model.AcadmicNumber)
        </h5>

        @Html.LabelFor(model => model.City)

        <h5>
            @Html.DisplayFor(model => model.City.Name)
        </h5>

 

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="تأكيد المسح" class="btn btn-default" /> 

        </div>
    }
</div>
