@model WebApplication2.Models.Employee

    @{ViewBag.Title = "تأكيد المسح؟"; }
<div class="danger taps" style="background-color: #dc3545;color :#fff">
    <i style="font-size:18px" class="fas fa-exclamation-triangle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px">هل أنت متأكد أنك تريد المسح؟</h4>
</div>
<div>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="data_labels">
        @Html.LabelFor(model => model.Name)



        <h5>
            @Html.DisplayFor(model => model.Name)
        </h5>


        @Html.LabelFor(model => model.PHD)

        <h5>
            @Html.DisplayFor(model => model.PHD)
        </h5>

        @Html.LabelFor(model => model.AcadmicNumber)

        <h5>
            @Html.DisplayFor(model => model.AcadmicNumber)
        </h5>

        @Html.LabelFor(model => model.City)

        <h5>
            @Html.DisplayFor(model => model.City.Name)
        </h5>



    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions btn-lg">
            <input style="width100%" type="submit" value="تأكيد المسح" class="btn btn-danger btn-lg" />

        </div>




    }
</div>
