@model WebApplication2.Models.ViewModels.MyProfileModel

@{
    string img = ViewBag.Img;
}


<div style="margin-top:65px" class="col-lg-8">
    @if (Model.Files.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                    <tr style="background-color:#000000;color:#fff;border-radius:50px">

                        <th>
                            إسم الملف
                        </th>
                        <th>
                            المؤسسة
                        </th>

                        <th>
                            التاريخ
                        </th>
                    </tr>
                </thead>
                <tbody style=" background-color: #ffff;">
                    @foreach (var item in Model.Files)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name, "View", "Files", new { id = item.ID }, null)

                            </td>
                            <td>
                                @Html.ActionLink(item.EmployeeRole.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.EmployeeRole.InstitutionID }, null)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>



                        </tr>
}
                </tbody>
            </table>
        </div>
    }
    else
    {
        <hr />
               <div class="danger taps" style="background-color: #dc3545;color :#fff">
            <i style="font-size:18px" class="far fa-times-circle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px">لم تقم بنشر أي ملف  </h4>
        </div>
    }

</div>
<div class="col-md-1"></div>
<div class="col-md-3">
    <div class="card-group">
        <div  class="card">
            <div align="center">
                <img style="border: 5px solid #333333; padding: 5px" class="img-circle" width="170" height="170" src="data:image/jpg;base64,@(img)">
            </div>
            <!-- Button trigger modal -->
            <button style="border: 0; position: absolute; top: 168px; left: 193px; background-color: #201e1e94; padding: 10px; border-radius: 50%; " type="button" data-toggle="modal" data-target="#myModal">
                @*<a style="position: relative; top: -46px; left: -4px; background-color:#201e1e94; padding: 10px; border-radius: 50%; " href="ChangePhoto">*@
                    <i style=" font-size: 32px; color: #ffff; width: 20px; height: 20px;" class="fas fa-camera"></i>
            </button>

            <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">تحديث الصورة الشخصية</h4>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("ChangePhoto", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-horizontal">
                                        <hr />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="file" name="Img" title="أختيار صورة" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <hr />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <input type="submit" value="حفظ" class="btn btn-primary" />
                                            </div>
                                        </div>

                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Modal -->
                <div class="card-body">
                    <br />
                    <br />
                    <br />
                    <div style="font-size:22px;font-weight:900;">
                        <i class="far fa-id-card"></i>
                        @Html.DisplayFor(model => model.Employee.Name, new { htmlAttributes = new { @class = "card-title" } })
                    </div>
                    <div style="font-size:20px">
                        <i class="fas fa-user-edit"></i>
                        @Html.ActionLink("تعديل المعلومات", "EditMyProfile")
                    </div>

                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                <ul>
                    <li class="card-text">
                        @Html.ActionLink(Model.Roles[i].Role.ArabicName + " لدى " + Model.Roles[i].Institution.ArabicName, "View", "EmployeeRoles", new { id = Model.Roles[i].ID }, null)
                    </li>
                </ul>}
                    <h4>
                        @Html.DisplayFor(model => model.Employee.PHD, new { htmlAttributes = new { @class = "card-title" } })

                    </h4>
                    <h5>
                        @Html.DisplayFor(model => model.Employee.Bio, new { htmlAttributes = new { @class = "card-title" } })

                    </h5>



                </div>
        </div>

    </div>

</div>
