@model WebApplication2.Models.ViewModels.MyProfileModel

@{
    string img = ViewBag.Img;
}


<div style="margin-top:65px" class="col-lg-8">
    @if (Model.Files.Count > 0)
    {
    <div class="table-responsive">
        <table class="table table-hover ">
            <tr style="color:white;background-color:black">

                <th>
                    إسم الملف
                </th>
                <th>
                    المؤسسة
                </th>

                <th>
                    التاريخ
                </th>
            </tr>

            @foreach (var item in Model.Files)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "View", "Files", new { id = item.ID }, null)

                    </td>
                    <td>
                        @Html.ActionLink(item.EmployeeRole.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.EmployeeRole.InstitutionID }, null)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>



                </tr>


            }
        </table>
    </div>
        }
        else
        {
        <hr />
        <h4>لم تقم بنشر أي ملف           </h4>
        }
        
    </div>
<div class="col-md-1"></div>
<div class="col-md-3">
    <div class="card-group" style="margin-top:10px">
        <div class="card" style="padding: 20px;border-top: 3px  solid #f8b739;border-bottom: 3px  solid #f8b739" border-left: 3px solid #f8b739">

            <img class="img-circle" width="170" height="170" src="data:image/jpg;base64,@(img)">
           
            <a href="ChangePhoto">Change Photo</a>
            
            <div class="card-body">
                @Html.ActionLink("Edit Info", "EditMyProfile")
                <h2>
                    @Html.DisplayFor(model => model.Employee.Name, new { htmlAttributes = new { @class = "card-title" } })

                </h2>
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
            <ul>
                <li class="card-text">
                    @Html.ActionLink(Model.Roles[i].Role.ArabicName + " لدى " + Model.Roles[i].Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = Model.Roles[i].Institution.ID }, null)
                </li>
            </ul>
                }
                <h4>
                    @Html.DisplayFor(model => model.Employee.PHD, new { htmlAttributes = new { @class = "card-title" } })

                </h4>
                <h5>
                    @Html.DisplayFor(model => model.Employee.Bio, new { htmlAttributes = new { @class = "card-title" } })

                </h5>
                <h5>
                </h5>


            </div>
        </div>

    </div>

</div>