@model WebApplication2.Models.ViewModels.EmployeeProfileModel



@{
    string img = ViewBag.Img;
}






<div class="col-lg-8">

    <div class="navbar" style="margin-top: 20px;">
        <a href="~/Messages/Send/@Model.Employee.ID"><img src="~/Content/mail.png" width="25" height="25" style="float: right;margin-right:10px;margin-left:10px" /> </a>
        @if (Model.canDelete)
        {
            <a href="~/Employees/Delete/@Model.Employee.ID"><img src="~/Content/x-mark.png" width="25" height="25" style="float: right;margin-right:10px;margin-left:10px" /> </a>

        }
        <hr style="margin-top:35px" />

    </div>
  

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        الملفات
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @if (Model.Files.Count > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <tr style="color:white;background-color:black">

                                    <th>
                                        إسم الملف
                                    </th>
                                    <th>
                                        المؤسسة
                                    </th>

                                    <th>
                                        التاريخ
                                    </th>
                                </tr>

                                @foreach (var item in Model.Files)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.Name, "View", "Files", new { id = item.ID }, null)

                                        </td>
                                        <td>
                                            @Html.ActionLink(item.EmployeeRole.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.EmployeeRole.InstitutionID }, null)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>



                                    </tr>


                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        <hr />
                           <div class="danger taps" style="background-color: #dc3545;color :#fff">
                            <i style="font-size:18px" class="far fa-times-circle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px">لا يوجد أي ملفات للعرض </h4>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        الإشارات
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    @if (Model.Mentions.Count > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <tr style="color:white;background-color:black">

                                    <th>
                                        إسم الملف
                                    </th>
                                    <th>
                                        المؤسسة
                                    </th>

                                    <th>
                                        التاريخ
                                    </th>
                                </tr>

                                @foreach (var item in Model.Mentions)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.Name, "View", "Files", new { id = item.ID }, null)

                                        </td>
                                        <td>
                                            @Html.ActionLink(item.EmployeeRole.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.EmployeeRole.InstitutionID }, null)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateCreated)
                                        </td>



                                    </tr>


                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        <hr />
                        <div class="danger taps" style="background-color: #dc3545;color :#fff">
                            <i style="font-size:18px" class="far fa-times-circle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px">لم يقم أي شخص بذكرك في أي ملف</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
     
    </div>

</div>
<div class="col-md-1"></div>


<div class="col-md-3 taps">

    <div class="card-group" style="margin-top:10px">
        <div align="center">
            <img class="img-rounded" width="170" height="170" src="data:image/jpg;base64,@(img)">
        </div>


        <div class="card-body">
            <h2>
                <i class="far fa-id-badge"></i> @Html.DisplayFor(model => model.Employee.Name, new { htmlAttributes = new { @class = "card-title" } })

            </h2>
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <h4 class="card-text">
                    <i class="far fa-hand-point-left"></i> @Html.ActionLink(Model.Roles[i].Role.ArabicName + " لدى " + Model.Roles[i].Institution.ArabicName, "View", "EmployeeRoles", new { id = Model.Roles[i].ID }, null)
                </h4>

            }
            <h4>
                @Html.DisplayFor(model => model.Employee.PHD, new { htmlAttributes = new { @class = "card-title" } })

            </h4>
            <h5>
                @Html.DisplayFor(model => model.Employee.Bio, new { htmlAttributes = new { @class = "card-title" } })

            </h5>
            <h5>
            </h5>


        </div>
    </div>

</div>








