@model WebApplication2.Models.ViewModels.SendMessageModel

@{string img = ViewBag.img; }

@using (Html.BeginForm("Send", "Messages", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;font-weight:600"><i class="far fa-envelope"></i>  إرسال رسالة </h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="taps" style="box-shadow:2px 2px 10px">
    <div class="form-group">


        <a href="~/Employees/PersonProfile/@Model.Reciever.ID">
            <div class="col-md-12">
                <img class="img-circle" style="width:70px; height:70px;" src="data:image/jpg;base64,@(img)">

                <h2 style="display:inline;margin:10px">@Model.Reciever.Name</h2>

            </div>
        </a>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>


    <div class="form-group">

        <div class="col-md-10">
            <label class="custom-file-upload" style=" max-width: 300px;">
                @Html.TextBoxFor(model => model.File, new { @type = "file", @name = "File", @class = "form-control", @required = "required", @size = "60", @style = "" })
                تحميل الملف   <i class="fas fa-cloud-upload-alt"></i>
            </label>
        </div>
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <input type="hidden" name="SenderID" value="@Model.Sender.ID" class="control-label" />
    <input type="hidden" name="RecieverID" value="@Model.Reciever.ID" class="control-label" />



    <div class="form-group">

        <div class="col-md-10">
            <input  type="submit" value="إرسال" style="width:100%" class=" btn btn-group-sm btn-primary" />
        </div>
    </div>
</div>
</div>
    }

 