@model WebApplication2.Models.ViewModels.RolesChooseDefaultModel

<h2>@Model.Employee.Name</h2>


<br/>
@if (Model.DefaultRole != null)
{
    <h4>وظيفتك الأساسية هي @Html.ActionLink(Model.DefaultRole.Role.ArabicName,"View","Roles",new { id=Model.DefaultRole.RoleID},null) لدى @Html.ActionLink(Model.DefaultRole.Institution.ArabicName,"InstitutionProfile","Institutions",new { id= Model.DefaultRole.InstitutionID},null)</h4>
  
}
else
{ <h4 class="text-danger">لم يتم أختيار أي وظيفة أساسية</h4>}



<hr />


   <h5>وظائفي</h5>
<table class="table">
    <tr>
        <th>
           الوظيفة
        </th>
        <th>
            المؤسسة
        </th>
        <th>
            متاحة
        </th>
        <th>
            تاريخ التعيين
        </th>
     
        <th></th>
    </tr>

    @foreach (var item in Model.EmployeeRoles)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Role.ArabicName,"View","Roles",new { id=item.RoleID},null)
            </td>
            <td>
                @Html.ActionLink(item.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.InstitutionID }, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringDate)
            </td>
           
            @if (item.Active)
            {
        <td>
            @using (Html.BeginForm("ChooseDefault", "Roles"))
            {     @Html.AntiForgeryToken()
                <input type="hidden" name="id"  value="@item.ID" />

                <input type="submit" class="btn btn-default" value="إختيار" />
            }
        </td>
            }
        </tr>
    }

</table>
