@model WebApplication2.Models.ViewModels.RolesChooseDefaultModel

<br />
<h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;font-weight:600;font-size:35px"><i class="fas fa-address-card"></i>  @Model.Employee.Name</h2>

<br />
@if (Model.DefaultRole != null)
{
    <h4><i class="far fa-hand-point-left"></i>  وظيفتك الأساسية هي @Html.ActionLink(Model.DefaultRole.Role.ArabicName, "Index", "Roles") لدى @Html.ActionLink(Model.DefaultRole.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = Model.DefaultRole.InstitutionID }, null) </h4>

}
else

{ <h4 class="text-danger">لم يتم أختيار أي وظيفة أساسية  <i class="far fa-hand-point-left"></i></h4>}

<table class="table">
    <tr>
        <th>
            الوظيفة
        </th>
        <th>
            المؤسسة
        </th>
        <th>
            متاحة
        </th>
        <th>
            تاريخ التعيين
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model.EmployeeRoles)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Role.ArabicName, "Index", "Roles")
            </td>
            <td>
                @Html.ActionLink(item.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.InstitutionID }, null)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiringDate)
            </td>

            @if (item.Active)
            {
                <td>
                    @using (Html.BeginForm("ChooseDefault", "Roles"))
                    {@Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@item.ID" />

                    <input type="submit" class="btn btn-default" value="إختيار" />
                }
                </td>
            }
        </tr>
    }

</table>
