@model WebApplication2.Models.ViewModels.AddRoleModel



@{ ViewBag.Title = "إنشاء وظيفة"; }
<br />
<h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;font-weight:600"><i class="fas fa-plus"></i>  @ViewBag.Title </h2>

@using (Html.BeginForm("Create", "Roles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-7">


        <h3> الأذونات الممنوحة</h3>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            الأشخاص
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <table id="table" class="display table table-responsive">
                            <thead>
                                <tr>
                                    <th>الأسم</th>
                                    <th>أختيار</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (var i = 0; i < Model.AvailablePersonPermissions.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.AvailablePersonPermissions[i].Text</td>
                                        <td>
                                            @Html.CheckBoxFor(model => Model.AvailablePersonPermissions[i].Selected)
                                            @Html.HiddenFor(m => m.AvailablePersonPermissions[i].Text)
                                            @Html.HiddenFor(m => m.AvailablePersonPermissions[i].Value)
                                        </td>
                                    </tr>
}

                            </tbody>


                        </table>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            المؤسسات
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <table id="table" class="display table table-responsive">
                            <thead>
                                <tr>
                                    <th>الأسم</th>
                                    <th>أختيار</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.AvailableInstitutionPermissions.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.AvailableInstitutionPermissions[i].Text</td>
                                        <td>
                                            @Html.CheckBoxFor(model => Model.AvailableInstitutionPermissions[i].Selected)
                                            @Html.HiddenFor(m => m.AvailableInstitutionPermissions[i].Text)
                                            @Html.HiddenFor(m => m.AvailableInstitutionPermissions[i].Value)
                                        </td>
                                    </tr>
}

                            </tbody>


                        </table>
                    </div>
                </div>
            </div>


        </div>



    </div>

    <div class="col-md-5 taps">
        <h3></h3>
        <h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;font-weight:600"><i class="fas fa-info-circle"></i>   المعلومات </h2>
        <main align="center" class="creat">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form>
                <div class="row">
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-9">
                        @Html.DropDownList("ParentID", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.Label("المشرف", "المشرف", htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-9">
                        <input type="submit" value="إنشاء" style="width:100%" class=" btn btn-group-sm btn-primary" />
                    </div>
                </div>
                <br />
                <br />
            </form>
        </main>


    </div>}

