@model WebApplication2.Models.EmployeeRole

@{
    ViewBag.Title = "مسح";
}

<h2>@ViewBag.Title </h2>

<h3>هل أنت متأكد من المسح؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArabicJobDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabicJobDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HiringDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HiringDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution.ArabicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution.ArabicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.ArabicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.ArabicName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="مسح" class="btn btn-default" /> |
        </div>
    }
</div>
