@model WebApplication2.Models.Role

@{
    ViewBag.Title = "مسح وظيفة";
}

<h2>@ViewBag.Title </h2>

<h3>هل أنت متأكد من المسح؟</h3>
<div>
    <hr />
    <div class="data_labels">


        @Html.Label("المسمى")


        <h5>
            @Html.DisplayFor(model => model.ArabicName)
        </h5>


        @Html.Label("عدد أذونات الأشخاص")


        <h5>
            @Html.DisplayFor(model => model.RolePersonPermissions.Count)
        </h5>


        @Html.Label("عدد أذونات المؤسسات")


        <h5>
            @Html.DisplayFor(model => model.RoleInstitutionPermissions.Count)
        </h5>

     
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="مسح" class="btn btn-default" /> 
        </div>
    }
</div>
