@model WebApplication2.Models.IndexViewRolesModel

@{
    ViewBag.Title = "الوظائف";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("إضافة وظيفة", "Add")
</p>
<table class="table">
    <tr>
        <th>
            المسمى الوظيفي
        </th>
        <th>
            عدد العاملين به

        </th>
        <th>
           تابع لـ

        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model.Roles) {
    <tr>
        <td>
             @item.ArabicName
        </td>
        <td>
            @item.EmployeeRoles.Count().ToString()

        </td>
        <td>
             @if (item.Role2 != null)
             {
                 @item.Role2.ArabicName
             }
        </td>

        <td>
            @if (Model.canEdit)
            {
            @Html.ActionLink("تعديل", "Edit", new { id = item.ID }) <span>|</span>
            }
            @if (Model.canDelete)
            {

            @Html.ActionLink("مسح", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
