@model WebApplication2.Models.IndexViewRolesModel

@{
    ViewBag.Title = "الوظائف";
}
@*<img style="display:inline-block;padding-bottom:10px" src="~/Content/businessman.png" width="80" height="80" />*@
<h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 15px; left: -15px;">@ViewBag.Title</h2>
<br />
<br />
<p class="btn btn-default btn-lg">
    @Html.ActionLink("إضافة وظيفة", "AddRole")
</p>
<br />
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <tr style="color:white;background-color:black">

            <th>
                المسمى الوظيفي
            </th>

            <th>
                الصلاحيات على العاملين
            </th>
            <th>
                الصلاحيات على المؤسسات
            </th>
            <th>
                عدد العاملين به

            </th>
            <th>
                تابع لـ

            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.Roles)
        {
    <tr>
        <td>
            @item.ArabicName
        </td>
        <td>
            <ul>
                @foreach (var i in item.RolePersonPermissions)
                {
                    <li>
                        @i.PersonPermission.ArabicName
                    </li>
                }
            </ul>

        </td>
        <td>
            <ul>
                @foreach (var i in item.RoleInstitutionPermissions)
                {
                    <li>
                        @i.InstitutionPermission.ArabicName
                    </li>
                }
            </ul>

        </td>

        <td>
            @item.EmployeeRoles.Count().ToString()

        </td>
        <td>
            @if (item.Role2 != null)
            {
                @item.Role2.ArabicName
            }
        </td>

        <td>
            @if (Model.canEdit)
            {
                <i class="btn btn-default">
                    @Html.ActionLink("تعديل", "EditRole", new { id = item.ID })
                </i>

            }
            @if (Model.canDelete && item.EmployeeRoles.Count == 0 &&item.Role1.Count==0)
            {
                <i class="btn btn-default">
                    @Html.ActionLink("مسح", "Delete", new { id = item.ID })
                </i>
            }
        </td>
    </tr>
        }

    </table>
</div>