@model WebApplication2.Models.IndexViewRolesModel

@{
    ViewBag.Title = "الوظائف";
}
<br />
@*<img style="display:inline-block;padding-bottom:10px" src="~/Content/businessman.png" width="80" height="80" />*@

<i style="font-size:50px;padding:5px;margin-top:10px" class="fas fa-briefcase"></i><h2 style="display:inline-block">@ViewBag.Title</h2>

<a class="btn btn-primary but1" href="~/Roles/Create">أضافة وظيفة </a>
<br />
<br />
<p class="btn btn-default btn-lg">
    @Html.ActionLink("إضافة وظيفة", "Create")
</p>
<br />
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <tr style="color:white;background-color:black">

            <th>
                المسمى الوظيفي
            </th>

            <th>
                الصلاحيات على العاملين
            </th>
            <th>
                الصلاحيات على المؤسسات
            </th>
            <th>
                عدد العاملين به

            </th>
            <th>
                تابع لـ

            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.Roles)
        {
    <tr>
        <td>
            @item.ArabicName
        </td>
        <td>
            <ul>
                @foreach (var i in item.RolePersonPermissions)
                {
                    <li>
                        @i.PersonPermission.ArabicName
                    </li>
                }
            </ul>

        </td>
        <td>
            <ul>
                @foreach (var i in item.RoleInstitutionPermissions)
                {
                    <li>
                        @i.InstitutionPermission.ArabicName
                    </li>
                }
            </ul>

        </td>

        <td>
            @item.EmployeeRoles.Count().ToString()

        </td>
        <td>
            @if (item.Role2 != null)
            {
                @item.Role2.ArabicName
            }
        </td>

        <td>
            @if (Model.canEdit)
            {
                <i class="btn btn-default">
                    @Html.ActionLink("تعديل", "Edit", new { id = item.ID })
                </i>

            }
            @if (Model.canDelete && item.EmployeeRoles.Count == 0 &&item.Role1.Count==0)
            {
                
                                        @Html.ActionLink("مسح", "Delete", new { id = item.ID }, htmlAttributes: new { @class = "btn btn - default" })

               
            }
        </td>
    </tr>
        }

    </table>
</div>