<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -KfsDocs</title>
    <title>@ViewBag.Title </title>
    <link rel="icon" type="image/png" href="~/Content/book.png" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/animate.min.css">
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #f0f2f5">

    @{ if (User.Identity.IsAuthenticated)
        {
            Html.RenderAction("RenderMenu");

        } }

    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/all.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
