@model WebApplication2.Models.ViewModels.CreateFileModel

@{ ViewBag.Title = "إنشاء ملف";

    string InstitutionName = Model.InstitutionName;
    string AuthorName = Model.AuthorName;

    string RoleName = Model.RoleName;

    string represent = "في " + InstitutionName + " " + "ك" + RoleName; }

<h2>@ViewBag.Title بصفة @Html.ActionLink(RoleName, "View", "Roles", new { id = Model.RoleID }, null) لدى @Html.ActionLink(InstitutionName,  "InstitutionProfile", "Institutions", new { id = Model.InstitutionID }, null)</h2>
<hr />


@using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()
                <div class="col-md-7">
   

                    <h3> قائمة الأشارات</h3>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        الأشخاص
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <table id="table" class="display table table-responsive">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>إسم الشخص</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < Model.AvailableEmployees.Count; i++)
                                            {
                            <tr>
                                <td>img</td>
                                <td><a href="~/Employees/PersonProfile/@Model.AvailableEmployees[i].Value">@Model.AvailableEmployees[i].Text</a></td>
                                <td></td>
                                <td>
                                    @Html.CheckBoxFor(model => Model.AvailableEmployees[i].Selected)
                                    @Html.HiddenFor(m => m.AvailableEmployees[i].Text)
                                    @Html.HiddenFor(m => m.AvailableEmployees[i].Value)
                                </td>
                            </tr>                }
                                        </tbody>


                                    </table>

                                </div>
                            </div>
                        </div>


                    </div>


 

                </div>

                                <div class="col-md-5">
                                    <h3>المعلومات</h3>



                                    <div class="form-horizontal">

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                                        <div class="form-group">
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                            @Html.Label("إسم الملف", htmlAttributes: new { @class = "control-label col-md-3" })

                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-9">
                                                @Html.DropDownListFor(x=>x.LevelID, Model.Levels, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.LevelID, "", new { @class = "text-danger" })
                                            </div>
                                            @Html.Label("المستوى", htmlAttributes: new { @class = "control-label col-md-3" })

                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                                            </div>
                                            @Html.Label("تاريخ الإنشاء", htmlAttributes: new { @class = "control-label col-md-3" })

                                        </div>








                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="إنشاء" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>

                                </div>}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#table').DataTable();
        });

    </script>
}


