@model WebApplication2.Models.File

@{ViewBag.Title = "تأكيد المسح؟"; }


<h2>@ViewBag.Title</h2>

<h3>هل أنت متأكد من مسح هذا الملف بالكامل؟</h3>
<div>
    <hr />
    <div class="data_labels">

        @Html.Label("إسم الملف")



        <h5>
            @Html.DisplayFor(model => model.Name)
        </h5>

        @Html.Label("تاريخ الإنشاء")



        <h5>
            @Html.DisplayFor(model => model.DateCreated)
        </h5>


        @Html.Label("عدد النسخ")



        <h5>
            @Html.DisplayFor(model => model.FileVersions.Count)
        </h5>


        @Html.Label("المستوى")




        <h5>
            @Html.DisplayFor(model => model.FileLevel.Name)
        </h5>



    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="مسح" class="btn btn-default" /> 
        </div>
    }
</div>
