@model WebApplication2.Models.ViewModels.ViewFileLevelsModel

@{
                ViewBag.Title= "مستويات الملفات"; }
<h2>@ViewBag.Title</h2>

@try
{





@Html.DropDownList("Levels", null, htmlAttributes: new { @id = "drop", @class = "form-control" })




                <h5>@Model.Level.LevelDesc</h5> if (Model.canEdit)
                                {
                @Html.ActionLink(" تعديل ", "EditLevel", "Files", new { id = Model.Level.ID }, null) }
                                if (Model.canEdit)
                                {
                @Html.ActionLink(" مسح ", "DeleteLevel", "Files", new { id = Model.Level.ID }, null) }
                <div class="table-responsive">
                    <table border="0" class="table table-hover">
                        <tr>
                            <th>
                                @Html.DisplayName("الوظيفة")
                            </th>
                            <th>
                                @Html.DisplayName("العمليات")
                            </th>

                        </tr>

                        @foreach (var item in Model.RolesDirectory)
                        {
        <tr>
            <td>
                <h3>
                    @item.Key
                </h3>
            </td>

            <td>
                <ul>
                    @foreach (var permission in item.Value)
                    {
<li>

    @permission
</li>}
                </ul>
            </td>

        </tr>}


                    </table>
                </div> }
                            catch (Exception e)
                            {
                <h2> مستوى ملف غير موجود</h2>}


@section scripts{
    <script>
        $("#drop").change(function () {
            var end = this.value;
            window.location.href = '/Files/FileLevels?id=' + end;
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable();
        });</script>
}