@model IEnumerable<WebApplication2.Models.FileMention>



@{
    ViewBag.Title = "الإشارات";
}
<h2 >@ViewBag.Title</h2>
<br />
@if (Model.Count() > 0)
{
    <table id="table" class="display table table-hover  table-responsive">
        <tr style="background-color: #120d0d1c ">
            <th>
                إسم الملف
            </th>
            <th>
                المالك
            </th>
            <th>
                مستوى الملف
            </th>
            <th>
                التاريخ 
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.File.Name, "View", "Files", new { id = item.FileID }, null)
                </td>
                <td>
                    @Html.ActionLink(item.File.EmployeeRole.Employee.Name, "PersonProfile", "Employees", new { id = item.File.EmployeeRole.EmployeeID }, null)
                </td>
                <td>
                    @Html.ActionLink(item.File.FileLevel.Name, "FileLevels", "Files", new { id = item.File.LevelID }, null)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
             
            </tr>
        }

    </table>
}
else
{
    <h4>لم يقم أي شخص بذكرك في أي ملف</h4>}





