@model WebApplication2.Models.ViewModels.ViewFileModel



@using (Html.BeginForm("Change", "Bookmarks", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.File.ID">
    <button type="submit" id="Change" name="Change" style="margin-top:20px;margin-bottom:10px;background-color:transparent;border:hidden">
        @if (Model.isBookmarked)
        {

            <img src="~/Content/star-clicked.png" alt="bookmark icon" height="25" width="25" />
        }
        else
        {

            <img src="~/Content/star.png" alt="bookmark icon" height="25" width="25" />

        }

    </button>
    <span style="font-size:25px;">@Model.File.Name</span>

}





<br/>





<div class="col-lg-9">
@if (Model.CurrentVersion != null)
{

    <h3>
        النسخة الحالية
    </h3>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CurrentVersion.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CurrentVersion.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentVersion.FileType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentVersion.FileContent.FileSize)
            </th>
            <th>
                @Html.DisplayName("Author")
            </th>


        </tr>


        <tr>

            <td>
                @Html.DisplayFor(model => model.CurrentVersion.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.CurrentVersion.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(model => model.CurrentVersion.FileType.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.CurrentVersion.FileContent.FileSize)
            </td>
            <td>
                @Html.ActionLink(Model.CurrentVersion.EmployeeRole.Employee.Name, "PersonProfile", "Employees", new { id = Model.CurrentVersion.EmployeeRole.Employee.ID }, null)
            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { id = @Model.CurrentVersion.ID })
            </td>


        </tr>


    </table>
}
else
{ <h5>هذا الملف لا يمتلك نسخ حالية</h5>}

<br />
<br />

@if (!(Model.Versions == null || Model.Versions.Count == 0))
{
    <h3>
        النسخ الأخرى
    </h3>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Versions[0].Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Versions[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Versions[0].FileType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Versions[0].FileContent.FileSize)
            </th>
            <th>
                @Html.DisplayName("Author")
            </th>


        </tr>
        @foreach (var item in Model.Versions)
        {

            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @item.DateCreated

                </td>
                <td>
                    @item.FileType.Name

                </td>
                <td>
                    @item.FileContent.FileSize
                </td>
                <td>
                    @Html.ActionLink(item.EmployeeRole.Employee.Name, "PersonProfile", "Employees", new { id = item.EmployeeRole.Employee.ID }, null)
                </td>

                <td>
                    @Html.ActionLink("Download", "Download", new { id = item.ID })
                    @if (Model.canSetCurrentVersion)
                    {<span>| </span>@Html.ActionLink("SetCurrent", "SetCurrentVersion", new { id = item.ID })}
                </td>

            </tr>

        }

    </table>

}
else
{ <h5>هذا الملف لا يمتلك نسخ أخرى</h5>}

</div>

<div class="col-lg-3">


    <div class="data_labels">



        @Html.Label("المالك")



        <h5>
            @Html.ActionLink(Model.Owner.Employee.Name, "PersonProfile", "Employees", new { id = Model.Owner.EmployeeID }, null)

        </h5>

        @Html.Label("المؤسسة")



        <h5>
            @Html.ActionLink(Model.Owner.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = Model.Owner.InstitutionID }, null)

        </h5>




        @Html.Label("المستوى")



        <h5>
            @Html.ActionLink(Model.File.FileLevel.Level, "FileLevels", "Files", new { level = Model.File.FileLevel.Level }, null)

        </h5>


        @Html.Label("تاريخ الإنشاء")


        <h5>
            @Html.DisplayFor(model => model.File.DateCreated)
        </h5>



    </div>

    @if (Model.isAuthor)
    {
        <hr />
        <h4>الخيارات</h4>
        <ul>
            <li>@Html.ActionLink("تعديل", "Edit", "Files", new { id = Model.File.ID }, null)</li>
            <li>@Html.ActionLink("مسح", "Delete", "Files", new { id = Model.File.ID }, null)</li>
            <li>@Html.ActionLink("إضافة نسخة", "AddVersion", "Files", new { id = Model.File.ID }, null)</li>

        </ul>

    }
    else if (Model.canEdit || Model.canDelete || Model.canAddVersion)
    {
        <hr />
        <h4>الخيارات</h4>
        <ul>

            @if (Model.canEdit)
            {
                <li>@Html.ActionLink("تعديل", "Edit", "Files", new { id = Model.File.ID }, null)</li>
            }
            @if (Model.canDelete)
            {
                <li>@Html.ActionLink("مسح", "Delete", "Files", new { id = Model.File.ID }, null)</li>
            }
            @if (Model.canAddVersion)
            {
                <li>@Html.ActionLink("إضافة نسخة", "AddVersion", "Files", new { id = Model.File.ID }, null)</li>
            }

        </ul>
    }



</div>

@*@if (item.Active)
    {
        <td>
            @using (Html.BeginForm("ChooseDefault", "Roles"))
            {@Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@item.ID" />

            <input type="submit" class="btn btn-default" value="ChooseDefault" />

        </td>
    }*@







