@model IEnumerable<WebApplication2.Models.Bookmark>

@{
    ViewBag.Title = "المفضلة";
}
@*<img style="display:inline-block;padding-bottom:10px;margin-top:10px" src="~/Content/archives.png" width="50" height="50" />*@
<h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;">@ViewBag.Title</h2>
                 <br/>
 @if (Model.Count()>0)
 {
<table id="table" class="display table table-hover  table-responsive">
    <tr style="background-color: #120d0d1c ">
        <th>
            إسم الملف
        </th>
        <th>
            المالك
        </th>
        <th>
            مستوى الملف
        </th>
        <th>
            تاريخ الحفظ
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.File.Name, "View", "Files", new { id = item.FileID }, null)
    </td>
    <td>
        @Html.ActionLink(item.File.EmployeeRole.Employee.Name, "PersonProfile", "Employees", new { id = item.File.EmployeeRole.ID }, null)
    </td>
    <td>
        @Html.ActionLink(item.File.FileLevel.Name, "FileLevels", "Files", new { id = item.File.LevelID }, null)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td>

        @Html.ActionLink("مسح", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
 }
 else { 
     <h4>لم تفم بحفظ أي ملف</h4>}