@model WebApplication2.Models.ViewModels.InstitutionModels.CreateInstitutionModel

@{ ViewBag.Title = "إضافة مؤسسة"; }
<br />
<h2 style="display: inline-block; position: relative; top: 9px; left: -15px;font-weight:600"><i class="fas fa-plus"></i> @ViewBag.Title لدى @Html.ActionLink(Model.ParentName, "InstitutionProfile", "Institutions", new { id = Model.ParentID }, null) </h2>



@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

  @Html.HiddenFor(x=>x.ParentName)

    @Html.HiddenFor(x=>x.ParentID)
    <main align="center" class="creat">
    <form>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-8">
                @Html.EditorFor(model => model.InstitutionName, new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus", @style = "" } })
                @Html.ValidationMessageFor(model => model.InstitutionName, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.InstitutionName, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
            <br />
        <div class="row">
            <div class="col-md-8">
                @Html.DropDownListFor(x=>x.InstitutionTypeID, Model.InstitutionTypes, htmlAttributes: new { @class = "form-control", @required = "required", @autofocus = "autofocus", @style = "" })
                @Html.ValidationMessageFor(model => model.InstitutionTypeID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.InstitutionTypeID, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus", @style = "" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                @Html.EditorFor(model => model.PrimaryPhone, new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus", @style = "" } })
                @Html.ValidationMessageFor(model => model.PrimaryPhone, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.PrimaryPhone, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                @Html.EditorFor(model => model.SecondaryPhone, new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus", @style = "" } })
                @Html.ValidationMessageFor(model => model.SecondaryPhone, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.SecondaryPhone, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus", @style = "" } })
                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required", @autofocus = "autofocus", @style = "" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <br />
        <div class="row">
            <div  class="col-md-8">
                <input type="submit" value="إرسال" style="width:100%" class=" btn btn-group-sm btn-primary" />
            </div>
        </div>
        </form>
    </main>
}

