@model WebApplication2.Models.Institution

@{
    ViewBag.Title = "مسح مؤسسة";
}


<h3>هل أنت متأكد من المسح؟</h3>
<div>
    <hr />
    <div class="data_labels">


        @Html.Label("الإسم")

        <h5>
            @Html.DisplayFor(model => model.ArabicName)
        </h5>

        @Html.Label("الموقع الأكتروني")

        <h5>
            @Html.DisplayFor(model => model.Website)
        </h5>


        @Html.Label("الهاتف الأساسي")

        <h5>
            @Html.DisplayFor(model => model.PrimaryPhone)
        </h5>


        @Html.Label("الهاتف الثانوي")

        <h5>
            @Html.DisplayFor(model => model.SecondaryPhone)
        </h5>


        @Html.Label("الفاكس")

        <h5>
            @Html.DisplayFor(model => model.Fax)
        </h5>





        @Html.Label("البريد الإلكتروني")

        <h5>
            @Html.DisplayFor(model => model.Email)
        </h5>




        @Html.Label("النوع")

        <h5>
            @Html.DisplayFor(model => model.InstitutionType.ArabicName)
        </h5>




        @Html.Label("تابعة لـ")

        <h5>
            @Html.DisplayFor(model => model.InstitutionType.ArabicName)
        </h5>



    </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="مسح" class="btn btn-default" /> |
            </div>
        }
    </div>
