@model WebApplication2.Models.ViewModels.InstitutionProfileModel







@if (!Model.Institution.Active)
{
    <h2 class="text-danger">This Institution Has Been Deactivated</h2>
    <hr />
}

<br />
<br />
<br />
<div class="col-md-9">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        العاملين
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @foreach (var emp in Model.Employees)
                    {

                        <ul>
                        <li>  @Html.ActionLink(emp.Name, "PersonProfile", "Employees", new { id = emp.ID }, null) </li>
                            </ul>
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a  class="collapsed tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        الملفات
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    @foreach (var file in Model.Files)
                    {

                        <ul>
                            <li>  @Html.ActionLink(file.Name, "View", "Files", new { id = file.ID }, null) </li>
                            </ul>
                            }
                    </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed tabs" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        المؤسسات التابعة
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    @foreach (var ins in Model.Children)
                    {
                    <ul>
                        <li>@Html.ActionLink(ins.ArabicName, "InstitutionProfile", new { id = ins.ID }, null)    </li>
                        </ul>
                            }
</div>
            </div>
        </div>
    </div>








</div>
<div class="col-md-3">
    <div class="card-group" style="margin-top:10px">

        <img class="img-rounded" width="170" height="170" src="data:image/jpg;base64,@(Model.Institution.ImageURL)">

        <div class="card-body">



            <h2 class="card-title">
                <a href="@(Model.Institution.Website)">@Model.Institution.ArabicName</a>
            </h2>



            <h4 class="card-title">
                @Model.Institution.PrimaryPhone
            </h4>

            <h4 class="card-title">
                @Model.Institution.SecondaryPhone
            </h4>

            <h4 class="card-title">
                @Model.Institution.Fax
            </h4>

            <h4 class="card-title">
                @Model.Institution.Email
            </h4>


            @if (Model.canActive || Model.canDeactive || Model.canEditInfo)
            {
                <hr />
                <h4>الخيارات</h4>
                <ul>

                    @if (((Model.Institution.Active) && Model.canEditInfo))
                    {
                        <li>@Html.ActionLink("تعديل", "Edit", "Institutions", new { id = Model.Institution.ID }, null)</li>
                    }
                    @if (((!Model.Institution.Active) && Model.canActive))
                    {
                        <li>@Html.ActionLink("تفعيل", "Active", "Institutions", new { id = Model.Institution.ID }, null)</li>
                    }
                    @if (((Model.Institution.Active) && Model.canDeactive))
                    {
                        <li>@Html.ActionLink("إلغاء التفعيل", "Deactive", "Institutions", new { id = Model.Institution.ID }, null)</li>
                    }




                </ul>
            }




        </div>
    </div>

</div>


@*<div id="tabs" align="center" class="col-md-8">

        <ul>
            <li>
                <a href="#tab1">Employees</a>
            </li>
            <li>
                <a href="#tab2">Folders</a>
            </li>
            <li>
                <a href="#tab1">Associated Institutions</a>
            </li>
        </ul>

        <div id="tab1">
            content1
        </div>
        <div id="tab2">
            content2
        </div>
        <div id="tab3">
                      content3
        </div>

    </div>*@


