@model WebApplication2.Models.ViewModels.InstitutionProfileModel







@if (!Model.Institution.Active)
{
<h2 class="text-danger">This Institution Has Been Deactivated</h2>
                <hr />}

<br />
<br />
<br />
<div class="row">
    <div class="col-md-9">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item headtaps" role="presentation">
                <a class="nav-link active ataps" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">العاملين</a>
            </li>
            <li class="nav-item headtaps" role="presentation">
                <a class="nav-link ataps" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">الملفات</a>
            </li>
            <li  class="nav-item headtaps" role="presentation">
                <a class="nav-link ataps" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">المؤسسات التابعة</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            @*------------------------------------------------------------------------------*@
            @*------------------------------------------------------------------------------*@
            <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
                <ul>
                    @if (Model.Employees.Count > 0)
                    {
                <div class="taps">
                    @foreach (var emp in Model.Employees)
                    {
                <li style="font-size:18px;font-weight:600">
                    @Html.ActionLink(emp.Name, "PersonProfile", "Employees", new { id = emp.ID }, null)
                </li> }
                </div>

                }
                else
                {
                <div class="danger taps" style="background-color: #dc3545;color :#fff">
                    <i style="font-size:18px" class="far fa-times-circle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px">لا يوجدعاملين  </h4>
                </div>}
                </ul>
            </div>
            @*------------------------------------------------------------------------------*@
            @*------------------------------------------------------------------------------*@
            <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <ul>
                    @if (Model.Files.Count > 0)
                    {
        <div class="taps">
            @foreach (var file in Model.Files)
            {
        <li>
            @Html.ActionLink(file.Name, "View", "Files", new { id = file.ID }, null)
        </li> }
        </div> }
                    else
                    {

        <div class="danger taps" style="background-color: #dc3545;color :#fff">
            <i style="font-size:18px" class="far fa-times-circle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px"> لا يوجد ملفات  </h4>
        </div>}
                    </ul>
                </div>
            @*------------------------------------------------------------------------------*@
            @*------------------------------------------------------------------------------*@
        <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <ul>
                @if (Model.Files.Count > 0)
                {
            <div class="taps">
                
                @foreach (var ins in Model.Children)
                {
            <li>
                                @Html.ActionLink(ins.ArabicName, "InstitutionProfile", new { id = ins.ID }, null)
                                            </li>            }
                </div>
                }
                else
                {
                <div class="danger taps" style="background-color: #dc3545;color :#fff">
                    <i style="font-size:18px" class="far fa-times-circle"> &nbsp; &nbsp;</i><h4 style="display:inline-block;font-weight:600;padding-right:5px">   لا يوجد مؤسسات تابعة        </h4>
                </div>
                }
            </ul>
        </div>
            @*------------------------------------------------------------------------------*@
            @*------------------------------------------------------------------------------*@
        </div>


    </div>
    <div style="margin-top: -30px" class="col-md-3">
        <div class="card-group">
            <div  class="card">
                <div align="center">
                <img class="img-rounded" width="170" height="170" src="data:image/jpg;base64,@(Model.Institution.ImageURL)">
                    </div>
                <div class="card-body">



                    <h2 class="card-title">
                        <a href="@(Model.Institution.Website)">@Model.Institution.ArabicName</a>
                    </h2>



                    <h4 class="card-title">
                        @Model.Institution.PrimaryPhone
                    </h4>

                    <h4 class="card-title">
                        @Model.Institution.SecondaryPhone
                    </h4>

                    <h4 class="card-title">
                        @Model.Institution.Fax
                    </h4>

                    <h4 class="card-title">
                        @Model.Institution.Email
                    </h4>
                </div>

                    @if (Model.canActive || Model.canDeactive || Model.canEditInfo)
                    {
        <hr />
                        <i class="fas fa-circle"></i><h4 style="display:inline-block;padding-right:10px">الخيارات</h4>
                                        <ul>

                                            @if (((Model.Institution.Active) && Model.canEditInfo))
                                            {
                            <li>@Html.ActionLink("تعديل", "Edit", "Institutions", new { id = Model.Institution.ID }, null)</li>
}
                                            @if (((!Model.Institution.Active) && Model.canActive))
                                            {
                            <li>@Html.ActionLink("تفعيل", "Active", "Institutions", new { id = Model.Institution.ID }, null)</li>
}
                                            @if (((Model.Institution.Active) && Model.canDeactive))
                                            {
                            <li>@Html.ActionLink("إلغاء التفعيل", "Deactive", "Institutions", new { id = Model.Institution.ID }, null)</li>
}




                                        </ul>}




                </div>
            </div>
            </div>
        </div>
</div>




