@model WebApplication2.Models.EmployeeRole

@{ ViewBag.Title = "تعيين"; }

<h2>ٍ@ViewBag.Title</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>الوظيفة</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("الشخص", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownList("InstitutionID", null, htmlAttributes: new { @class = "form-control", @id = "institutionDrop" })
                            @Html.ValidationMessageFor(model => model.InstitutionID, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("المؤسسة", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control", @id = "roleDrop" })
                            @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("الوظيفة", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>





                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ArabicJobDesc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ArabicJobDesc, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("الوصف", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.HiringDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HiringDate, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("تاريخ التعيين", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="إنشاء" class="btn btn-default" />
                        </div>
                    </div>
                </div>}
@section scripts{
    <script>
        $("#institutionDrop").change(function () {

            var end = this.value;
            $.ajax({
                url: '@Url.Action("getAvailableRolesForInstitution")',
                dataType: "json",
                data: { 'id': end },
                method: 'get',
                success: function (data) {


                    var roleTable = $("#roleDrop");
                    roleTable.empty();
                    $(data).each(function (index, role) {
                        roleTable.append($("<option></option>").val(role.ID).html(role.Name));
                    });
                },
                error: function (err) {
                }
            });
            return false;



        });</script>
  
   
    
    
  

}
