@model WebApplication2.Models.ViewModels.EmployeeRoles.CreateEmployeeRoleModel

@{ ViewBag.Title = "تعيين"; }

<br />
<h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;font-weight:600"><i class="fas fa-user-check"></i>  @ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

                       <div class="form-horizontal">
                    <h4>الوظيفة</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(x=>x.EmployeeID, Model.Employees, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("الشخص", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(x => x.InstitutionID,Model.Institutions, htmlAttributes: new { @class = "form-control", @id = "institutionDrop" })
                            @Html.ValidationMessageFor(model => model.InstitutionID, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("المؤسسة", htmlAttributes: new { @class = "control-label col-md-2" })

                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(x=>x.RoleID, Model.Roles, htmlAttributes: new { @class = "form-control", @id = "roleDrop" })
                            @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("الوظيفة", htmlAttributes: new { @class = "control-label col-md-2" })


    </div>





    <div class="form-group">
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ArabicJobDesc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ArabicJobDesc, "", new { @class = "text-danger" })
        </div>
        @Html.Label("الوصف", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.HiringDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local", @required = "required" } })
            @Html.ValidationMessageFor(model => model.HiringDate, "", new { @class = "text-danger" })
        </div>
        @Html.Label("تاريخ التعيين", htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">

        <div algin="center" class="col-md-offset-2 col-md-10">
            <input style="width: 100%; position: absolute; right: 108px;" type="submit" value="إنشاء" class="btn btn-primary but1" />
        </div>
    </div>
</div>}
@section scripts{
    <script>
        $("#institutionDrop").change(function () {

            var end = this.value;
            $.ajax({
                url: '@Url.Action("getAvailableRolesForInstitution")',
                dataType: "json",
                data: { 'id': end },
                method: 'get',
                success: function (data) {


                    var roleTable = $("#roleDrop");
                    roleTable.empty();
                    $(data).each(function (index, role) {
                        roleTable.append($("<option></option>").val(role.ID).html(role.Name));
                    });
                },
                error: function (err) {
                }
            });
            return false;



        });</script>






}
