@model WebApplication2.Models.EmployeeRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArabicJobDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabicJobDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HiringDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HiringDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution.ArabicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution.ArabicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.ArabicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.ArabicName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
