@model WebApplication2.Models.ViewModels.EmployeeRoles.EmployeeRoleIndexModel

@{
    ViewBag.Title = "الموظفين";
}

<br />
<h2 style="display: inline-block; padding-bottom: 10px; position: relative; top: 9px; left: -15px;font-weight:600"><i class="fas fa-users"></i>  @ViewBag.Title</h2>
@if (Model.canAdd)
{
    <a class="btn btn-primary but1" href="~/EmployeeRoles/Create">تعيين جديد </a>

}
<div class="table-responsive">
    <table id="table" class="table table-hover ">
        <thead>
            <tr>
                <th>
                    الإسم
                </th>
                <th>
                    الوظيفة
                </th>
                <th>
                    المؤسسة
                </th>
                <th>
                    تاريخ التعيين
                </th>
                <th>
                    الحالة
                </th>
                <th>
                    <i class="far fa-eye"></i>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EmployeeRoles)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Employee.Name, "PersonProfile", "Employees", new { id = item.EmployeeID }, null)
                    </td>
                    <td>
                        @Html.ActionLink(item.Role.ArabicName, "Index", "Roles", new { id = item.RoleID }, null)


                    </td>
                    <td>
                        @Html.ActionLink(item.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.InstitutionID }, null)


                    </td>
                    <td>
                        @Html.Display(item.HiringDate.ToString())
                    </td>

                    @if (item.Active == true)
                    {
                        <td>
                            مفعل
                        </td>

                    }
                    else
                    {
                        <td>

                            معطل
                        </td>

                    }

                    @if (Model.canView)
                    {

                        <td>
                            @Html.ActionLink("عرض", "View", "EmployeeRoles", new { id = item.ID }, null)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script type="text/javascript">$(document).ready(function () {
            $('#table').DataTable();
        });</script>
}
