@model WebApplication2.Models.ViewModels.EmployeeRoles.EmployeeRoleIndexModel

@{
    ViewBag.Title = "الموظفين";
}

<h2>@ViewBag.Title</h2>
<hr />
@if (Model.canAdd)
{

    <p>
        @Html.ActionLink("تعيين جديد", "Create")
    </p>
}
<table class="table table-hover">
    <tr>
        <th>
            الإسم
        </th>
        <th>
            الوظيفة
        </th>
        <th>
            المؤسسة
        </th>
        <th>
            تاريخ التعيين
        </th>
        <th>
            الحالة
        </th>


    </tr>

    @foreach (var item in Model.EmployeeRoles)
    {
<tr>
    <td>
        @Html.ActionLink(item.Employee.Name, "PersonProfile", "Employees", new { id = item.EmployeeID },null)
    </td>
    <td>
        @Html.ActionLink(item.Role.ArabicName, "Index", "Roles", new { id = item.RoleID },null)


    </td>
    <td>
        @Html.ActionLink(item.Institution.ArabicName, "InstitutionProfile", "Institutions", new { id = item.InstitutionID },null)


    </td>
    <td>
        @Html.Display(item.HiringDate.ToString())
    </td>

    @if(item.Active==true)
        {
            <td>
                مفعل
            </td>

        }
        else
        {
            <td>

                معطل
            </td>

        }

    @if (Model.canView)
    {

        <td>
            @Html.ActionLink("عرض", "View", "EmployeeRoles", new { id = item.ID }, null)
        </td>
    }
</tr>
    }

</table>
